/*Global Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppin', sans-serif;
    background: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

.section {
    padding: 80px 10%;
}

.section-title {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

/*Navbar*/
.navbar {
    width: 100%;
    padding: 20px 10%;
    background: #111;
    color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: 700;
    font-size: 1.4rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: #eee;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: lightblue;
}

/*Mobile menu icon*/
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/*Hero Section*/
.hero {
    height: 100vh;
    padding-top: 150px;
    background: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero h1 span {
    color: #0077ff;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #555;
}

.btn-primary {
    padding: 12px 25px;
    border: none;
    background-color: #0077ff;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.btn-primary:hover {
    background: blue;
}

/* Project */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.project-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 4 6px 20px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.project-card:hover {
    transform: translateY(-6px);
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

/*Contact*/
.contact p {
    text-align: center;
    font-size: 1.2rem;
}

/* Footer */
footer {
    padding: 20px;
    background: #111;
    color: white;
    text-align: center;
    margin-top: 40px;
}

/*Responsive Design*/
@media (max-width: 768px) {

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 10%;
        background: #111;
        width: 200px;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}